body {
  background: #fdefe8;
}

a {
  color: #004445;
}

.App-header {
  margin: 10px 0;
}

.App-logo {
  max-width: 700px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 40px 0;
}
